.activeFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.activeFilter {
  font-size: 10px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #f7f1e3;
  background-color: var(--leaf);
}

.closeButton {
  display: flex;
}

.closeIcon {
  cursor: pointer;
  fill: #f7f1e3;
  height: 12px;
  width: 12px;
}
